{% extends 'main/base.html' %}
 
{% block title %}Add New Employee{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form">  
        {% csrf_token %}  
        <div class="container">
            <br>
            <h3 class="mt-2 text-center">How to choose an employee for a company?</h3><br>
            <div class="card-group">
  <div class="card">
    <img src="https://media.istockphoto.com/photos/asian-businesswoman-standing-smiling-at-the-camera-picture-id1335295926?b=1&k=20&m=1335295926&s=170667a&w=0&h=6TEcLiO3JwNG3VL2O1LLWGdFgUulikOMqG1cAGixf-E=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hard Skills</h5>
      <p class="card-text">Hard skills are essential because they increase employee productivity and efficiency and subsequently improve employee satisfaction.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.hubspot.com/hubfs/employee-retention-rate.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Soft Skills</h5>
      <p class="card-text">Problem solving, delegating, motivating, and team building are all much easier if you have good soft skills. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.create.vista.com/api/media/small/153608230/stock-photo-senior-businesswoman-at-workplace" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Critical Thinking</h5>
      <p class="card-text">A person with critical thinking skills can come up with innovative ideas and solutions to complex problems using logic and reason.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
            <br> 
            <div class="form-group row">  
                <div class="col-sm-4">
                    <br>
                    <h3>Enter Details</h3>
                </div>
            </div>  

            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Employee Name:</label>  
                <div class="col-sm-4">  
                    {{ form.name }}  
                </div>  
            </div>
            
            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Employee Email:</label>  
                <div class="col-sm-4">  
                    {{ form.email }}  
                </div>  
            </div>

            <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Employee Contact:</label>  
                <div class="col-sm-4">  
                    {{ form.contact }}  
                </div>  
            </div>

            <div class="form-group row">  
                <div class="col-sm-4">  
                    <button type="submit" class="btn btn-primary">Submit</button>  
                    <a href="{% url 'home'%}"><div class="btn btn-danger">Back</div></a>
                </div>
            </div>

        </div>  
    </form>
<br>
</div> 
{% endblock content %} 